Chapter004AIAgentsWithn8n/n8n_Ai_Agents/AI_04_3X_Read_PRD_TestCases_Excel_V2.json
{
  "name": "AI_04_3X_Read_PRD_TestCases_Excel_V2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate comprehensive test cases for JIRA issue {{ $json.jiraId }}. Fetch the issue details from JIRA and create detailed test cases including summary, description, preconditions, test steps, expected results, and save them to Google Sheets.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        0
      ],
      "id": "702f6cf5-039b-4d6a-9615-fd5018e82d80",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1136,
        224
      ],
      "id": "98ddeeb7-a248-48aa-9e47-a967d3c57fee",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        1264,
        224
      ],
      "id": "63f122d4-43b5-4a3d-9af5-63e822e603ae",
      "name": "Get an issue in Jira Software",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "0JEXeQ8L8ophZxJu",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        224
      ],
      "id": "986b3a49-6cea-4cfb-a38a-2d412147c2cf",
      "name": "Brain",
      "credentials": {
        "groqApi": {
          "id": "LNg6M4s4D1liAQJm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oijeJtAYt6wMdrvkGb0RKNfV8-MFMh_9kV5gRvP4PSs",
          "mode": "list",
          "cachedResultName": "VRD PRD Testcases ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oijeJtAYt6wMdrvkGb0RKNfV8-MFMh_9kV5gRvP4PSs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oijeJtAYt6wMdrvkGb0RKNfV8-MFMh_9kV5gRvP4PSs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
            "Test Case ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Test_Case_ID__using_to_match_', ``, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "Preconditions": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Preconditions', ``, 'string') }}",
            "Test Steps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Test_Steps', ``, 'string') }}",
            "Expected Result": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expected_Result', ``, 'string') }}",
            "Actual Result": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actual_Result', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "Assignee": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Assignee', ``, 'string') }}",
            "JIRA Ticket": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JIRA_Ticket', ``, 'string') }}"
          },
          "matchingColumns": [
            "Test Case ID"
          ],
          "schema": [
            {
              "id": "Test Case ID",
              "displayName": "Test Case ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preconditions",
              "displayName": "Preconditions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Test Steps",
              "displayName": "Test Steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected Result",
              "displayName": "Expected Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Result",
              "displayName": "Actual Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "JIRA Ticket",
              "displayName": "JIRA Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1392,
        224
      ],
      "id": "4d508720-68b8-461a-92bf-8412134a02e0",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sAQ24OASjksJNfuW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload JIRA IDs for Test Case Generation",
        "formDescription": "Upload a CSV or Excel file containing JIRA IDs. The workflow will generate test cases for each ID.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload File (CSV or Excel)",
              "fieldType": "file",
              "fieldName": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".csv,.xls,.xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "File uploaded successfully! Processing JIRA IDs..."
            }
          }
        }
      },
      "id": "07b9176b-d72c-4912-a657-ccb1902d188b",
      "name": "When form submitted",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -112,
        256
      ],
      "webhookId": "d3921331-8fa3-462b-80b8-98347069a9e6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.file[0].mimeType }}",
              "rightValue": "text/csv",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "combineOperation": "any"
        },
        "options": {}
      },
      "id": "0960115a-9703-4a8e-b962-0203b0256a10",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        256
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {
          "headerRow": true
        }
      },
      "id": "b33385a2-bfb3-4adf-993e-5948e966ea2b",
      "name": "Extract CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        336,
        208
      ]
    },
    {
      "parameters": {},
      "id": "cb7ce0a2-ec4d-4e90-9dad-0742da2b5f57",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        256
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {
          "headerRow": true
        }
      },
      "id": "35b262f4-03b3-443c-97b5-c63d9723cdec",
      "name": "Extract Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        336,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "message",
              "value": "All JIRA IDs processed successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "12124e8f-1970-4759-afd9-4cb035021f80",
      "name": "Process Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "263c332d-cd79-407f-b0bd-cb12af6777f6",
      "name": "Loop Over JIRA IDs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        256
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get an issue in Jira Software": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When form submitted": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Extract CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Loop Over JIRA IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Excel": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over JIRA IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over JIRA IDs": {
      "main": [
        [
          {
            "node": "Process Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ffcf15c2-bcbb-4c92-b836-39ddfeedd5a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c7591ed19de9f2a8e4356fe2dcd3709e54509c793b7ccdcb3b9b04b933c98a8"
  },
  "nodeGroups": [],
  "id": "KQs4iG8h2qHfngIq",
  "tags": [
    {
      "updatedAt": "2026-06-15T03:20:13.898Z",
      "createdAt": "2026-06-15T03:20:13.898Z",
      "id": "9dvqOClZegn7Pj8m",
      "name": "AI_3X"
    }
  ]
}